@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 10vh;
    font-family: "Orbitron", sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header nav{
    width: 60%;
}
header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
header nav ul li{
}
header nav ul li a{
    text-decoration: none;
    color: #7a7878;
}
header nav ul li a:hover
